<div class="places-wrapper">

  <section class="notebook">
    <h1 class="notebook-heading">Места</h1>
    <p class="notebook-content">В тази секция ви разказваме къде в България са пътували хората(най-вече средната класа)
      по време на почивките си. Също така ви показваме как са изглеждали заведенията по онова време и като цяло какви са
      били някогашните забавления.</p>
  </section>

  <section class="categories">

    <a class="category-card" [routerLink]="['/all-travel-categories']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="travel"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/suitcase_wjo4yg.png"/>
      </div>
      <p class="category-card-title">албум Пътуване</p>
    </a>

    <a class="category-card" [routerLink]="['/all-venue-categories']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="venues"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/restaurant_msvjl2.png"/>
      </div>
      <p class="category-card-title">албум Заведения</p>
    </a>

    <a class="category-card" [routerLink]="['/all-entertainment-categories']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="entertainment"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/ticket_hiakfm.png"/>
      </div>
      <p class="category-card-title">албум Развлечения</p>
    </a>

  </section>
</div>
