<div class="places-wrapper">

  <section class="notebook">
    <h1 class="notebook-heading">Фоторазкази</h1>
    <p class="notebook-content">В няколко тематични албума ви разкзваме за забавленията и пътуванията на средната класа
      по време на социализма.</p>
  </section>

  <section class="categories">
    <a class="category-card">
      <img class="category-card-image" src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1625913433/Angular%20Project/travel_hrg5vv.jpg"/>
      <p class="category-card-title">албум Пътуване</p>
    </a>
    <a class="category-card">
      <img class="category-card-image" src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1625913433/Angular%20Project/ticket_skfzq3.jpg"/>
      <p class="category-card-title">албум Развлечения</p>
    </a>
    <a class="category-card">
      <img class="category-card-image" src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1625913433/Angular%20Project/food_pxd9nw.jpg"/>
      <p class="category-card-title">албум Заведения</p>
    </a>
  </section>
</div>
