<div class="login-wrap">
  <fieldset class="login-set">
    <legend class="legend">ВХОД</legend>
    <div class="group">
      <label for="userReg" class="label">Потребителско име</label>
      <input id="userReg" type="text" class="input">
    </div>
    <div class="group">
      <label for="passReg" class="label">Парола</label>
      <input id="passReg" type="password" class="input">
    </div>
    <div class="group">
      <input type="submit" class="button" value="Изпрати">
    </div>
  </fieldset>
  <div>
    <p class="info-para">Нова регистрация</p>
  </div>
</div>

