.registration-wrapper {
  display: flex;
  align-items: center;
  vertical-align: center;
  margin: 3% auto;
}

.registration-set{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  backdrop-filter: blur(10px);
}

.legend {
  font-weight: bold;
  text-decoration: underline solid #1161ee;
  text-underline-offset: 10px;
  color: lightgrey;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  padding: 0 10px;
}

.group{
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: lightgrey;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}

.input {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, .1);
  margin-top: 5px;
  font-size: 16px;
  color: white;
}

.button {
  background: #1161ee;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: lightgrey;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
}

.button:hover {
  background: dodgerblue;
  color: white;
  cursor: pointer;
}
