<div class="post-wrapper" *ngIf="post; else errorTemplate">
  <section class="post-big-image-section">
    <img class="post-image-main" alt="post"
         src="{{post?.imageUrl1}}">
  </section>

  <section class="post-middle-section">

    <div class="post-title-container">
      <span class="post-title">{{post?.title}}</span>
    </div>

    <div class="post-sub-title-container">
      <p class="post-sub-title">{{post?.subtitle}}</p>
    </div>

  </section>

  <section class="post-content-section">

    <p class="post-text">{{post?.content}}</p>
  </section>

  <section class="post-small-image-section">

    <div class="post-image-wrapper">
      <img class="post-image" alt="post"
           src="{{post?.imageUrl2}}">
    </div>

    <div class="post-image-wrapper">
      <img class="post-image lower" alt="post" src="{{post?.imageUrl3}}">
    </div>

  </section>

</div>

<ng-template #errorTemplate>
  <div class="page-not-found-wrapper">
    <div class="page-not-found-outer-wrapper">
      <div class="page-not-found-inner-wrapper">
        <div class="page-not-found-content">
          <h1 class="page-not-found-main-text">грешка 404</h1>
          <h1 class="page-not-found-sub-text">статията не е намерена</h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>
