.post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60%;
  margin: 2% auto;
  padding-bottom: 30px;
}

.post-big-image-section {
  width: 100%;
  height: 350px;
}

.post-image-main {
  width: 100%;
  height: 100%;
}

.post-middle-section {
  display: flex;
  width: 100%;
}

.post-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 30px 70px;
}

.post-title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Philosopher', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  padding: 40px 30px 40px 30px;
}

.post-sub-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.post-sub-title {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-weight: bold;
  font-style: italic;
  padding-right: 50px;
}

.post-content-section {
  width: 100%;
  padding: 0 70px;
}

.post-text {
  text-align: justify;
  font-family: 'Philosopher', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  white-space: pre-wrap
}

.post-small-image-section {
  display: flex;
  padding: 20px;
}

.post-image {
  width: 320px;
  height: 250px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 7px 0px #000000;
  box-shadow: 0px 0px 7px 0px #000000;
}

.post-image.lower {
  position: relative;
  bottom: -30px;
}

@media only screen and (max-width: 1200px) {
  .post-middle-section, .post-small-image-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .post-title-container {
    width: 70%;
    padding: 40px 10px 40px 10px;
  }

  .post-sub-title-container {
    width: 70%;
    margin-bottom: 20px;
  }
}
