<div class="my-memories-wrapper">

  <div class="my-memories-header">
    <span class="my-memories-heading">Моите спомени</span><a class="add-memory-button" [routerLink]="['/memory-details/create']" title="Нов спомен">+</a>
  </div>

  <div class="memory-cards-container">
    <a class="memory-card" routerLink="/memory">
      <div class="memory-card-image-wrapper">
        <img class="memory-card-image" src="https://picsum.photos/200/300" alt="memory"/>
      </div>
      <div class="memory-card-title-wrapper">
        <h3 class="memory-card-title">Лято в Мичурин</h3>
      </div>
    </a>

    <a class="memory-card" routerLink="/memory">
      <div class="memory-card-image-wrapper">
        <img class="memory-card-image" src="https://picsum.photos/200/300" alt="memory"/>
      </div>
      <div class="memory-card-title-wrapper">
        <h3 class="memory-card-title">Лято в Мичурин</h3>
      </div>
    </a>

    <a class="memory-card" routerLink="/memory">
      <div class="memory-card-image-wrapper">
        <img class="memory-card-image" src="https://picsum.photos/200/300" alt="memory"/>
      </div>
      <div class="memory-card-title-wrapper">
        <h3 class="memory-card-title">Лято в Мичурин</h3>
      </div>
    </a>

    <a class="memory-card" routerLink="/memory">
      <div class="memory-card-image-wrapper">
        <img class="memory-card-image" src="https://picsum.photos/200/300" alt="memory"/>
      </div>
      <div class="memory-card-title-wrapper">
        <h3 class="memory-card-title">Лято в Мичурин</h3>
      </div>
    </a>

    <a class="memory-card" routerLink="/memory">
      <div class="memory-card-image-wrapper">
        <img class="memory-card-image" src="https://picsum.photos/200/300" alt="memory"/>
      </div>
      <div class="memory-card-title-wrapper">
        <h3 class="memory-card-title">Лято в Мичурин</h3>
      </div>
    </a>
  </div>

</div>

