<div class="comparison-container">

  <h1 class="comparison-heading">Преди и сега</h1>

  <section class="horizontal-comparison-container">
    <div class="horizontal-comparison-item">
      <div class="horizontal-comparison-picture-wrapper">
        <img class="horizontal-comparison-image"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626852820/Angular%20Project/12_d5g6e2.jpg"
             alt="comparison">
      </div>
      <p class="comparison-sub-heading">Несебър</p>
    </div>
  </section>

  <section class="vertical-comparison-container">
    <div class="vertical-comparison-item">
      <div class="vertical-comparison-picture-wrapper">
        <img class="vertical-comparison-image"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626855543/Angular%20Project/13_dtpjkm.jpg"
             alt="comparison">
      </div>
    </div>

    <div class="vertical-comparison-item">
      <div class="vertical-comparison-picture-wrapper">
        <img class="vertical-comparison-image"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626855543/Angular%20Project/13_dtpjkm.jpg"
             alt="comparison">
      </div>
    </div>
  </section>



</div>
