.comparison-container {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  align-items: center;
  justify-content: center;
}

.comparison-heading {
  color: white;
  font-family: 'Philosopher', sans-serif;
  margin: 10px 0;
}

.horizontal-comparison-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  align-items: center;

}

.horizontal-comparison-item {
  width: 100%;
  height: 75vh;
}

.horizontal-comparison-picture-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}

.horizontal-comparison-image {
  width: 100%;
  height: 100%;
}
