<div class="comparison-container">

  <div class="comparison-item-wrapper">

    <div class="comparison-content-container">
      <div class="comparison-title-container">
        <p class="comparison-title">Преди</p>
        <p class="comparison-title">и</p>
        <p class="comparison-title">Сега</p>
      </div>

      <div class="comparison-text-container">
        <p class="comparison-text">София</p>
        <p class="comparison-text">сладкарниця "Феята"</p>
      </div>

    </div>

    <div class="comparison-picture-wrapper">
      <img class="comparison-image"
           src="http://www.dnes-bg.org/language/bg/uploads/img_original/news__1/news__51b2e53e057b8ef150660ddfe7fae240.jpg"
           alt="comparison">
    </div>

  </div>

</div>
