.about-wrapper {
  display: flex;
  width: 60%;
  margin: 3% auto;
  flex-direction: column;
  font-family: 'Philosopher', sans-serif;
}

.about-heading {
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.about-text {
  color: white;
}

.about-image {
  float: left;
  width: 350px;
  height: 350px;
  padding: 10px;
  border-radius: 50%;
  shape-outside: circle(50%);
  shape-image-threshold: 0.5;
}

@media only screen and (max-width: 800px) {
  .about-image {
    display: none;
  }

  .about-text {
    text-align: center;
  }
}
