.post-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2% auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-bottom: 30px;
}

.post-big-image-section {
  width: 100%;
  height: 350px;
}

.post-image-main {
  width: 100%;
  height: 100%;
}

.post-middle-section {
  display: flex;
  width: 100%;
}

.post-title-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}

.post-title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Philosopher', sans-serif;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  width: 100%;
  font-size: 30px;
  font-weight: bolder;
  padding: 40px 30px 40px 30px;
}

.post-sub-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.post-sub-title {
  font-family: 'Philosopher', sans-serif;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.post-content-section {
  width: 100%;
  padding: 0 70px;
}

.post-text {
  font-size: 16px;
  font-family: 'Philosopher', sans-serif;
  line-height: 1.2;
  text-align: justify;
}

.post-small-image-section {
  display: flex;
  padding: 20px;
}

.post-image {
  width: 320px;
  height: 250px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 7px 0px #000000;
  box-shadow: 0px 0px 7px 0px #000000;
}

.post-image.lower {
  position: relative;
  bottom: -30px;
}
