.picture-details-container {
  display: flex;
  flex-direction: column;
  margin: 3% auto;
  align-items: center;
}

.picture-wrapper {
  display: flex;
  width: 65%;
  justify-content: space-between;
  background-color: white;
}

.picture-content-container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #006B3C;
  margin-left: 50px;
  padding: 20px;
  height: 200px;
  position: relative;
  top: -20px
}

.picture-category-container {
  width: 100%;
  border-bottom: 2px solid white;
}

.picture-category {
  font-family: 'Philosopher', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

.picture-sub-title {
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
}

.picture-title-container {
  margin-top: 20px;
}

.picture-title {
  font-size: 18px;
  font-family: 'Philosopher', sans-serif;
}

.picture-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 73vh;
}

.picture-image.wide-image {
  width: 85%;
  height: 85%;
}

.picture-image.high-image {
  width: 60%;
  height: 85%;
  margin: 0 auto;
}
