.picture-details-wrapper {
  display: flex;
  margin: 3% auto;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.content-container {
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.content-box {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #006B3C;
  margin-left: 50px;
  padding: 20px;
  height: 200px;
  position: relative;
  right: -50px;
  z-index: 1
}

.picture-category-container {
  width: 100%;
  border-bottom: 2px solid white;
}

.picture-category {
  font-family: 'Philosopher', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
}

.picture-sub-title {
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
}

.picture-title-container {
  margin-top: 20px;
}

.picture-title {
  font-size: 18px;
  font-family: 'Philosopher', sans-serif;
}

.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.picture-outer {
  width: 800px;
  height: 450px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.picture-inner {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  padding: 50px 50px 50px 150px;
}
