.picture-details-container {
  display: flex;
  flex-direction: column;
  margin: 3% auto;
  align-items: center;
}

.picture-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
}

.picture-wrapper.wide-container {
  width: 70%;
}

.picture-wrapper.high-container {
  width: 55%;
}

.picture-wrapper {
  display: flex;
  width: 70%;
  justify-content: center;
  background-color: white;
}

.picture-content-container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 26%;
  background-color: #006B3C;
  margin-left: 50px;
  padding: 20px;
  height: 200px;
  position: relative;
  top: -20px
}

.picture-category-container {
  width: 100%;
  border-bottom: 2px solid white;
}

.picture-category {
  font-family: 'Philosopher', sans-serif;
  text-transform: uppercase;
}

.picture-category.bigger-fonts {
  font-size: 30px;
}

.picture-category.smaller-fonts {
  font-size: 25px;
}

.picture-sub-title {
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
}

.picture-title-container {
  margin-top: 20px;
}

.picture-title {
  font-size: 18px;
  font-family: 'Philosopher', sans-serif;
}

.picture-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 73vh;
}

.picture-image {
  width: 85%;
  height: 85%;
}
