<div class="picture-details-wrapper">

    <div class="content-box">
      <div class="picture-category-container">
<!--        <span class="picture-category-subtitle">албум </span>-->
        <span class="picture-category-title">албум {{picture?.category}}</span>
        <span class="picture-title">{{picture?.title}}</span>
      </div>
<!--      <div class="picture-title-container">-->
<!--        <p class="picture-title">{{picture?.title}}</p>-->
<!--      </div>-->
    </div>

  <div class="picture-container" *ngIf="picture?.format.includes('широк'); else high">
    <div class="picture-outer" style="background-image: url('{{picture.imageUrl}}');">
      <img src="{{picture?.imageUrl}}" class="picture-inner">
    </div>
  </div>


  <ng-template #high>
    <div class="picture-image-wrapper">
      <img class="picture-image high-image"
           src="{{picture?.imageUrl}}"
           alt="picture details">
    </div>
  </ng-template>

</div>
