<div class="picture-details-wrapper">

  <div class="picture-category-container">
    <span class="picture-category-subtitle">албум </span>
    <span class="picture-category-title">{{picture?.category}}</span>
  </div>

  <div class="picture-container" *ngIf="picture?.format.includes('широк'); else high">
    <div class="picture-outer" style="background-image: url('{{picture.imageUrl}}');">
      <img class="picture-inner" src="{{picture?.imageUrl}}">
    </div>
  </div>

  <div class="content-box">
      <p class="picture-title">{{picture?.title}}</p>
  </div>

  <ng-template #high>
    <div class="picture-image-wrapper">
      <img class="picture-image high-image"
           src="{{picture?.imageUrl}}"
           alt="picture details">
    </div>
  </ng-template>

</div>
