.gallery-container {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
  align-items: center;
}

.gallery-item-wrapper {
  display: flex;
  width: 75%;
  justify-content: center;
  background-color: white;
}

.gallery-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #006B3C;
  margin-left: 50px;
}

.album-title, .album-sub-title {
  font-family: 'Philosopher', sans-serif;
  font-size: 25px;
}

.album-sub-title {
  font-size: 20px;
}

.album-title {
  font-size: 30px;
  text-transform: uppercase;
}

.gallery-text {
  font-size: 18px;
  font-family: 'Philosopher', sans-serif;
  text-align: center;
}

.gallery-picture-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 75vh;
}

.gallery-image {
  width: 400px;
  height: 400px;
}
