<div class="gallery-container">

  <div class="gallery-item-wrapper">

    <div class="gallery-item">
      <div class="gallery-picture-container">
        <div class="album-title-container">
          <p class="album-sub-title">албум</p>
          <p class="album-title">Сладкарници</p>
        </div>

        <div class="gallery-picture-wrapper">
          <img class="gallery-image"
               src="http://2.bp.blogspot.com/-8HxwaJRjtek/VMCV68NuMMI/AAAAAAAAD_E/kCIOOdMlzUc/s1600/10606369_991535284209174_6199502877928657499_n.jpg"
               alt="Trulli">
        </div>
      </div>
      <div class="gallery-text-container">
        <span class="gallery-text">Слънчев бряг, ресторант "Бъчвата", 1976 г</span>
      </div>

    </div>

  </div>

</div>
