<div class="wrapper">
  <div id="notebook">
    <div id="notebook-paper">
      <header>
        <h1>Заведения</h1>
      </header>
      <div id="content">
        <div class="hipsum"><p>Пренасяме се назад във времето, за да направим тур по най-известните сладкарници, ханчета
          и ресторанти в страната.
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="album-wrapper">
    <div class="containerCards">
      <div class="card">
        <a href="#">
          <div class="card-type-2">
            <div class="img-c">
              <img class="imgAlbum"
                   src="https://us.123rf.com/450wm/birinci/birinci1806/birinci180600029/102628932-stock-vector-cake-icon-flat-vector-illustration-in-black-on-white-background-eps-10.jpg?ver=6"
                   width="800" height="800"/></div>
            <div class="clear-line"></div>
            <div>
              <p class="caption">албум Сладкарници</p>
            </div>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="#">
          <div class="card-type-2">
            <div class="img-c">
              <img class="imgAlbum"
                   src="https://images.assetsdelivery.com/compings_v2/yupiramos/yupiramos1703/yupiramos170307534.jpg"
                   width="400" height="400"/></div>
            <div class="clear-line"></div>
            <div>
              <p class="caption">албум Ханчета</p>
            </div>
          </div>
        </a>
      </div>

      <div class="card">
        <a href="#">
          <div class="card-type-2">
            <div class="img-c">
              <img class="imgAlbum"
                   src="https://images.cdn1.stockunlimited.net/clipart/dining-table_1529447.jpg"
                   width="400" height="400"/></div>
            <div class="clear-line"></div>
            <div>
              <p class="caption">албум Ресторанти</p>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>

