.index-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 5% auto;
}

.index-subtitle, .index-heading, .index-paragraph {
  text-align: center;
  color: white;
  font-style: italic;
}

.index-subtitle {
  font-size: 22px;
}

.index-paragraph {
  font-size: 20px;
}

.index-heading {
  font-size: 65px;
  margin-bottom:50px;
}
