.index-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 3% auto;
}

.index-subtitle, .index-heading, .index-paragraph {
  text-align: center;
  color: white;
}

.index-subtitle {
  font-size: 22px;
  text-align: center;
  font-style: italic;
  color: white;
}

.index-paragraph {
  font-size: 20px;
  text-align: center;
  color: white;
  font-style: italic;
}

.index-heading {
  font-size: 65px;
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
  color: white;
  font-style: italic;
}
