<div class="my-memories-wrapper">

  <div class="my-memories-header">
    <span class="my-memories-heading">Моите спомени</span><a class="add-memory-button" [routerLink]="['/memory/create']">Нов спомен</a>
  </div>

  <div class="memory-cards-container">
    <a class="memory-card"  *ngFor="let m of userMemories$ | async" [routerLink]="['/memory/details/', m._id]">
      <div class="memory-card-image-wrapper">
        <img class="memory-card-image" src="{{m.imageUrl}}" alt="memory"/>
      </div>
      <div class="memory-card-title-wrapper">
        <h3 class="memory-card-title">{{m.title}}</h3>
      </div>
    </a>
  </div>

</div>

