<div class="standard-form-wrapper registration-wrapper">
  <fieldset class="standard-form-set">
    <legend class="legend">РЕГИСТРАЦИЯ</legend>
    <form (ngSubmit)="signUp()" #registerForm="ngForm">
      <div class="form-group">
        <label for="name" class="label">Потребителско име</label>
        <input id="name"
               type="text"
               class="input"
               required
               ngModel
               #name="ngModel"
               name="name">
        <div class="standard-form-notification-container">
          <div *ngIf="name.invalid && name.touched" class="standard-form-notification">
            Моля попълнете потребителско име!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="label">Имейл</label>
        <input id="email"
               type="email"
               class="input"
               required
               email
               ngModel
               #email="ngModel"
               name="email">
        <div class="standard-form-notification-container">
          <div *ngIf="email.invalid && email.touched" class="standard-form-notification">
            Моля попълнете коректен имейл адрес!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="profileImageUrl" class="label">Профилна снимка(линк)</label>
        <input id="profileImageUrl"
               type="text"
               class="input"
               ngModel
               #profileImageUrl="ngModel"
               name="profileImageUrl">
        <div class="standard-form-notification-container"></div>
      </div>
      <div class="form-group">
        <label for="password" class="label">Парола</label>
        <input id="password"
               type="password"
               class="input"
               required
               ngModel
               #password="ngModel"
               name="password"
               minlength="4">
        <div class="standard-form-notification-container">
          <div *ngIf="password.invalid && password.touched" class="standard-form-notification">
            Паролата трябва да е с дължина минимум 4 символа!
          </div>
        </div>
      </div>
      <!--    <div class="form-group">-->
      <!--      <label for="repeatPassReg" class="label">Повторете паролата</label>-->
      <!--      <input id="repeatPassReg" type="password" class="input">-->
      <!--    </div>-->

      <div class="form-group">
        <button type="submit" class="button" [disabled]="registerForm.invalid">Изпрати</button>
      </div>
    </form>
  </fieldset>
</div>
