<div class="profile-wrapper">

  <div class="profile-card">
    <div class="profile-picture-wrapper">
      <img class="profile-picture" *ngIf="profileImageUrl !== ''; else defaultPic" src="{{profileImageUrl}}"
           alt="profile pic">
    </div>

    <ng-template #defaultPic>
      <div class="profile-picture-wrapper">
        <img class="profile-picture" src="https://i.pinimg.com/originals/d6/a0/96/d6a0965b7ddc8a5c40edcfd38e2bc859.jpg"
             alt="profile pic">
      </div>
    </ng-template>

    <h1 class="profile-heading">Моят профил</h1>
    <div class="profile-item-wrapper">
      <span class="profile-item black-ink">Потребител: </span>
      <span class="profile-item blue-ink">{{username}}</span>
    </div>
    <div class="profile-item-wrapper">
      <span class="profile-item black-ink">Имейл: </span>
      <span class="profile-item blue-ink">{{email}}</span>
    </div>
    <div class="profile-item-wrapper">
      <span class="profile-item black-ink">Титла: </span>
      <span class="profile-item blue-ink">Чавдарче</span>
    </div>
  </div>

  <a class="my-album-card" routerLink="/memory/user">
    <div class="my-album-card-image-wrapper">
      <img class="my-album-card-image"
           src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626015023/Angular%20Project/album_e0inkb.webp"
           alt="memory"/>
    </div>
    <div class="my-album-card-title-wrapper">
      <p class="my-album-card-subtitle">албум</p>
      <h3 class="my-album-card-title">Моите спомени</h3>
    </div>
  </a>

</div>
