.profile-wrapper {
  display: flex;
  justify-content: center;
  margin: 3% auto;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAFAD2;
  width: 350px;
  height: 450px;
  font-family: 'Bad Script', cursive;
  margin: 5px;
  padding: 30px 0;
}

.profile-picture-wrapper {
  display: flex;
  justify-content: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-heading {
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-size: 35px;
}

.profile-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.profile-item-wrapper {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 15px 20px 0 20px;
  border-bottom: 1px solid black;
}

.profile-item-wrapper.top {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.profile-item-wrapper.bottom {
  border-bottom: 1px solid black;
}

.profile-item.blue-ink {
  color: #1A009C;
}

.my-album-card {
  width: 350px;
  height: 450px;
  color: black;
  text-decoration: none;
  background-color: #FAFAD2;
  margin: 5px;
  padding: 20px 20px 40px 20px;
}

.my-album-card-image {
  width: 310px;
  height: 320px;
  margin: 0 auto;
}

.my-album-card-subtitle {
  font-family: 'Bad Script', cursive;
  font-style: italic;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.my-album-card-title {
  font-family: 'Bad Script', cursive;
  text-align: center;
  font-size: 25px;
}

@media only screen and (max-width: 1000px) {

  .profile-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
