<div class="profile-wrapper">

  <div class="profile-card">
    <div class="profile-picture-wrapper">
      <img class="profile-picture" src="https://i.pinimg.com/originals/d6/a0/96/d6a0965b7ddc8a5c40edcfd38e2bc859.jpg"
           alt="profile pic">
    </div>
    <h1 class="profile-heading">Моят профил</h1>
    <div class="profile-item-wrapper">
      <span class="profile-item black-ink">Потребител: </span>
      <span class="profile-item blue-ink">cruzeiro</span>
    </div>
    <div class="profile-item-wrapper">
      <span class="profile-item black-ink">Имейл: </span>
      <span class="profile-item blue-ink">cruzeiro@abv.bg</span>
    </div>
    <div class="profile-item-wrapper">
      <span class="profile-item black-ink">Титла: </span>
      <span class="profile-item blue-ink">Чавдарче</span>
    </div>
  </div>

  <a class="my-album-card" routerLink="/my-memories">
    <div class="my-album-card-image-wrapper">
      <img class="my-album-card-image"
           src="https://ae01.alicdn.com/kf/HTB1d9SjRpXXXXboXXXXq6xXFXXXF/lbum-de-flores-DIY-creativo-hueco-estilo-de-amor-10-pulgadas-hecho-a-mano-Diy.jpg"
           alt="memory"/>
    </div>
    <div class="my-album-card-title-wrapper">
      <p class="my-album-card-subtitle">албум</p>
      <h3 class="my-album-card-title">Моите спомени</h3>
    </div>
  </a>

</div>


<!--<section class="profile-container">-->
<!--  <div class="user-info">-->
<!--    <h1 class="main-heading">Моят профил</h1>-->
<!--    <p class="info-item">Потребител: cruzeiro</p>-->
<!--    <p class="info-item">Имейл: cruzeiro@abv.bg</p>-->
<!--    <p class="info-item">Титла: Чавдарче</p>-->
<!--    <button class="create-memory">СПОДЕЛИ СПОМЕН</button>-->
<!--  </div>-->
<!--  <div class="user-memories">-->
<!--    <div class="memory-container">-->
<!--      <div class="polaroid" id="first-polaroid">-->
<!--        <div class="polaroid-content">-->
<!--          <div class="polaroid-content-image">-->
<!--            <img-->
<!--              src='https://ae01.alicdn.com/kf/HTB1d9SjRpXXXXboXXXXq6xXFXXXF/lbum-de-flores-DIY-creativo-hueco-estilo-de-amor-10-pulgadas-hecho-a-mano-Diy.jpg'-->
<!--              alt=''>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para" style="font-size: 13px">албум</p><br>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para">Моите спомени</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="polaroid">-->
<!--        <div class="polaroid-content">-->
<!--          <div class="polaroid-content-image">-->
<!--            <img-->
<!--              src='https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ'-->
<!--              alt=''>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para" style="font-size: 13px">the good ol' boy</p><br>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para">the good ol' boythe good ol' boy the good ol' boythe good ol' boy the good ol' boy</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="polaroid">-->
<!--        <div class="polaroid-content">-->
<!--          <div class="polaroid-content-image">-->
<!--            <img-->
<!--              src='https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ'-->
<!--              alt=''>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para" style="font-size: 13px">the good ol' boy</p><br>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para">the good ol' boy</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="polaroid">-->
<!--        <div class="polaroid-content">-->
<!--          <div class="polaroid-content-image">-->
<!--            <img-->
<!--              src='https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ'-->
<!--              alt=''>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para" style="font-size: 13px">the good ol' boy</p><br>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para">the good ol' boy</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="polaroid">-->
<!--        <div class="polaroid-content">-->
<!--          <div class="polaroid-content-image">-->
<!--            <img-->
<!--              src='https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ'-->
<!--              alt=''>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para" style="font-size: 13px">the good ol' boy</p><br>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para">the good ol' boy</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="polaroid">-->
<!--        <div class="polaroid-content">-->
<!--          <div class="polaroid-content-image">-->
<!--            <img-->
<!--              src='https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ'-->
<!--              alt=''>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para" style="font-size: 13px">the good ol' boy</p><br>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para">the good ol' boy</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="polaroid">-->
<!--        <div class="polaroid-content">-->
<!--          <div class="polaroid-content-image">-->
<!--            <img-->
<!--              src='https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ'-->
<!--              alt=''>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para" style="font-size: 13px">the good ol' boy</p><br>-->
<!--          </div>-->
<!--          <div class="polaroid-content-caption">-->
<!--            <p class="polaroid-para">the good ol' boy</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
