.admin-table-wrapper.all-comparisons-admin-wrapper {
  width: 70%;
}

.new-entry-button.comparison-entry-button {
  width: 17%;
}

.table-heading.comparison-numbering{
  width: 3%;
}

.table-heading.comparison-image {
  width: 20%;
}

.table-heading.comparison-title {
  width: 60%;
}

.table-heading.comparison-buttons {
  width: 17%;
}

.comparison-table-image {
  width: 150px;
  height: 50px;
}

.comparison-table-image:hover {
  transform: scale(2.5);
  -webkit-box-shadow: 0px 0px 7px 0px #000000;
  box-shadow: 0px 0px 7px 0px #000000;
  border: 3px solid white;
}
