.quiz-wrapper {
  display: flex;
  margin: 1% auto;
  width: 90%;
  height: 80vh;
}

.quiz-image-container {
  width: 35%;
  margin: 10px;
}

.quiz-image {
  width: 350px;
  height: 500px;
  position: fixed;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-family: 'Philosopher', sans-serif;
  padding: 20px;
  background-color: snow;
  overflow: auto;
}

.quiz-questions-title {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.quiz-question {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.quiz-question-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

.quiz-question-title {
  font-family: 'Pattaya', sans-serif;
  font-size: 30px;
  margin-bottom: 5px;
}

.quiz-question-options {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

.radio-button {
  margin: 5px 0;
}


/*@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");*/

/*.test-wrap {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  width: 90%;*/
/*  margin: 0 auto;*/
/*  color: white;*/
/*  font-size: 20px;*/
/*}*/

/*.test-set {*/
/*  width: 65%;*/
/*}*/

/*.radio-button {*/
/*  display: block;*/
/*  margin: 2px;*/
/*}*/

/*.question {*/
/*  padding: 10px;*/
/*}*/

/*.quiz-button-holder {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

/*.quiz-button {*/
/*  width: 200px;*/
/*  color: white;*/
/*  font-size: 20px;*/
/*  border-radius: 5px;*/
/*  padding: 20px;*/
/*  outline: none;*/
/*  background: green;*/
/*  font-weight: bold;*/
/*  text-transform: uppercase;*/
/*  border: none;*/
/*}*/

/*.quiz-button:hover {*/
/*  cursor: pointer;*/
/*  background: forestgreen;*/
/*}*/
