.quiz-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: 75vh;
  margin: 2% auto;
}

.quiz-image-container {
  width: 35%;
  margin: 10px;
}

.quiz-image {
  width: 350px;
  height: 450px;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: snow;
  font-family: 'Philosopher', sans-serif;
  width: 50%;
  height: 85%;
  padding: 20px 40px 35px 40px;
}

.quiz-title {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-size: 40px;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}

.quiz-button-holder {
  display: flex;
  justify-content: center;
}

.quiz-button {
  background-color: #008A4D;
  text-transform: uppercase;
  color: white;
  font-family: 'Philosopher', sans-serif;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0 5px;
  padding: 10px 30px;
}

.quiz-button.next-button, .quiz-button.try-again-button-button {
  background-color: #008A4D;
}

.quiz-button.next-button:hover, .quiz-button.try-again-button:hover {
  cursor: pointer;
  background-color: #00B565;
}

.quiz-button.previous-button {
  background-color: darkorange;
}

.quiz-button.previous-button:hover {
  cursor: pointer;
  background-color: orange;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 50px 0;
}

.result-score {
  font-weight: bold;
  font-size: 25px;
}

.result-nomination {
  display: flex;
  justify-content: center;
}

.result-svg {
  width: 70px;
  height: 70px;
}

.result-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.result-score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .quiz-image-container {
    display: none;
  }

  .quiz-wrapper {
    justify-content: center;
  }

  .questions-container {
    width: 60%;
  }
}
