<div class="quiz-wrapper">

  <div class="quiz-image-container">
    <img class="quiz-image" alt="question mark"
         src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626015197/Angular%20Project/question-mark_muxtdl.png">
  </div>

  <div class="questions-container">
    <div class="quiz-title">ТЕСТ</div>

    <!--This div renders if quizOver is false-->
    <div class="question-wrapper" *ngIf="!quizOver">
      <app-question [questionIndex]="currentIndex"
                    (answers)="receiveAnswers($event)"
                    (totalQuestions)="getTotalQuestions($event)">
      </app-question>
      <div class="quiz-button-holder">
        <button class="quiz-button previous-button" (click)="goPrevious()">Предишен</button>
        <button class="quiz-button next-button" (click)="goNext()">Следващ</button>
      </div>
    </div>

    <!--This div renders if quizOver is true-->
    <div class="result-wrapper border" *ngIf="quizOver">
      <h4>Край на теста!</h4>
      Вашият резултат е: {{score}} / {{totalQuestions}}
      <br>
      <div class="quiz-button-holder">
        <button class="quiz-button try-again-button" (click)="restartQuiz()">Нов опит</button>
      </div>
    </div>

  </div>
</div>



