.quiz-wrapper {
  display: flex;
  margin: 2% auto;
  width: 65%;
  height: 75vh;
  justify-content: space-between;
  align-items: center;
}

.quiz-image-container {
  width: 35%;
  margin: 10px;
}

.quiz-image {
  width: 350px;
  height: 450px;
}

.questions-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 85%;
  font-family: 'Philosopher', sans-serif;
  padding: 20px 40px 35px 40px;
  background-color: snow;
  align-items: center;
}

.quiz-title {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  font-size: 40px;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.quiz-button-holder {
  display: flex;
  justify-content: center;
}

.quiz-button {
  padding: 10px 30px;
  background-color: #008A4D;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Philosopher', sans-serif;
  margin: 0 5px;
}

.quiz-button.next-button, .quiz-button.new-entry-button {
  background-color: #008A4D;
}

.quiz-button.next-button:hover, .quiz-button.try-again-button:hover {
  cursor: pointer;
  background-color: #00B565;
}

.quiz-button.previous-button {
  background-color: darkorange;
}

.quiz-button.previous-button:hover {
  cursor: pointer;
  background-color: orange;
}

.quiz-button.try-again-button {
  background-color: rebeccapurple;
}

.quiz-button.try-again-button:hover {
  cursor: pointer;
  background-color: blueviolet;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-svg {
  width: 100px;
  height: 100px;
}
