
<div class="test-wrap">

  <fieldset class="test-set">
    <legend class="legend">ТЕСТ</legend>

    <div class="question">
      <p>Въпрос 1: Кой днешен курорт е носил името "Мичурин"?</p>

      <div class="radio-button">
        <input type="radio" id="1a" name="question-one" value="созопол">
        <label for="1a">Созопол</label>
      </div>

      <div class="radio-button">
        <input type="radio" id="1b" name="question-one" value="равда">
        <label for="1b">Равда</label>
      </div>

      <div class="radio-button">
        <input type="radio" id="1c" name="question-one" value="царево">
        <label for="1c">Царево</label>
      </div>

      <div class="radio-button">
        <input type="radio" id="1d" name="question-one" value="лозенец">
        <label for="1d">Лозенец</label>
      </div>
    </div>

    <div class="question">
      <p>Въпрос 2: В кой курорт започва да се провежда "Златният Орфей"?</p>

      <div class="radio-button">
        <input type="radio" id="2a" name="question-two" value="несебър">
        <label for="2a">Несебър</label>
      </div>

      <div class="radio-button">
        <input type="radio" id="2b" name="question-two" value="созопол">
        <label for="2b">Созопол</label>
      </div>

      <div class="radio-button">
        <input type="radio" id="2c" name="question-two" value="албена">
        <label for="2c">Албена</label>
      </div>

      <div class="radio-button">
        <input type="radio" id="2d" name="question-two" value="слънчев бряг">
        <label for="2d">Слънчев бряг</label>
      </div>
    </div>

    <div class="quiz-button-holder">
      <input type="submit" class="quiz-button" value="Изпрати">
    </div>

  </fieldset>

</div>
