.standard-form-wrapper.login-wrapper {
  flex-direction: column;
  margin: 5% auto;
}

.standard-form-set.login-set{
  width: 40%;
}

.registration-link {
  width: 20%;
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}

.registration-link-paragraph {
  display: flex;
  justify-content: center;
  font-family: 'Philosopher', sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
  border: 1px solid transparent;
}

.registration-link-paragraph:hover {
  color: white;
  padding: 15px;
  border: 1px solid #008A4D;
}
