<div class="login-wrapper">
  <fieldset class="login-set">
    <legend class="legend">ВХОД</legend>
    <form #loginForm="ngForm" (ngSubmit)="signIn()">
      <div class="form-group">
        <label for="email" class="label">Имейл</label>
        <input id="email"
               type="email"
               class="input"
               name="email"
               required
               email
               ngModel
               #email="ngModel">
        <div class="standard-form-notification-container">
          <div *ngIf="email.invalid && email.touched" class="standard-form-notification">
            Моля попълнете коректен имейл адрес!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="label">Парола</label>
        <input id="password"
               type="password"
               class="input"
               name="password"
               required
               minlength="4"
               ngModel
               #password="ngModel">
        <div class="standard-form-notification-container">
          <div *ngIf="password.invalid && password.touched" class="standard-form-notification">
            Паролата трябва да е с дължина минимум 4 символа!
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="button" [disabled]="loginForm.invalid">Изпрати</button>
      </div>
    </form>
  </fieldset>
  <div class="registration-link">
    <a class="registration-link-paragraph" routerLink="/signup">Нова регистрация</a>
  </div>
</div>
