<h1 class="gallery-heading">албум Море</h1>

<div class="gallery-container">

  <figure>
    <img class="gallery-image" src="https://www.w3schools.com/tags/pic_trulli.jpg" alt="Trulli" style="width:100%">
    <figcaption class="galley-caption">Fig.1 - Trulli, Puglia, Italy.</figcaption>
  </figure>

  <figure>
    <img class="gallery-image" src="https://www.w3schools.com/tags/pic_trulli.jpg" alt="Trulli" style="width:100%">
    <figcaption class="galley-caption">Fig.1 - Trulli, Puglia, Italy.</figcaption>
  </figure>

  <figure>
    <img class="gallery-image" src="https://www.w3schools.com/tags/pic_trulli.jpg" alt="Trulli" style="width:100%">
    <figcaption class="galley-caption">Fig.1 - Trulli, Puglia, Italy.</figcaption>
  </figure>

  <figure>
    <img class="gallery-image" src="https://www.w3schools.com/tags/pic_trulli.jpg" alt="Trulli" style="width:100%">
    <figcaption class="galley-caption">Fig.1 - Trulli, Puglia, Italy.</figcaption>
  </figure>


</div>

