<!--<nav>-->
<!--  <ul>-->
<!--    <li>-->
<!--      <a href="#">ВХОД</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->

<nav class="navigation">
  <ul class="navigation-list">
    <!--    <li class="navigation-list-item">-->
    <!--      <a class="navigation-list-link" href="#">АДМИНИСТРАЦИЯ</a>-->
    <!--    </li>-->
    <li class="navigation-list-item">
      <a class="navigation-list-link" href="#">Начало</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-list-link" href="#">За нас</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-list-link" href="#">Профил</a>
    </li>
    <li class="navigation-list-item">
      <a class="navigation-list-link" href="#">Изход</a>
    </li>
  </ul>
</nav>
