<nav class="navigation">
  <ul class="navigation-list">
    <li class="navigation-list-item">
      <a  class="navigation-list-link" routerLink="/">Начало</a>
    </li>
    <li class="navigation-list-item">
      <a  class="navigation-list-link" routerLink="/login">Вход</a>
    </li>
    <li class="navigation-list-item">
      <a  class="navigation-list-link" routerLink="/register">Регистрация</a>
    </li>
  </ul>
</nav>

<!--<nav class="navigation">-->
<!--  <ul class="navigation-list">-->
<!--    <li class="navigation-list-item">-->
<!--      <a class="navigation-list-link" routerLink="/home">Начало</a>-->
<!--    </li>-->
<!--    <li class="navigation-list-item">-->
<!--      <a class="navigation-list-link" routerLink="/about">За нас</a>-->
<!--    </li>-->
<!--    <li class="navigation-list-item">-->
<!--      <a class="navigation-list-link" routerLink="/my-profile">Профил</a>-->
<!--    </li>-->
<!--    <li class="navigation-list-item">-->
<!--      <a class="navigation-list-link" routerLink="/admin-panel">Админ</a>-->
<!--    </li>-->
<!--    <li class="navigation-list-item">-->
<!--      <a class="navigation-list-link" routerLink="/logout">Изход</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
