<nav class="navigation">
  <ul class="navigation-list">
    <li class="navigation-list-item">
      <a class="navigation-list-link" routerLink="/">Начало</a>
    </li>
    <li *ngIf="!authService.isAuthenticated()" class="navigation-list-item">
      <a class="navigation-list-link" routerLink="/signin">Вход</a>
    </li>
    <li *ngIf="!authService.isAuthenticated()" class="navigation-list-item">
      <a class="navigation-list-link" routerLink="/signup">Регистрация</a>
    </li>
    <li *ngIf="authService.isAuthenticated()" class="navigation-list-item">
      <a class="navigation-list-link" routerLink="/about">За нас</a>
    </li>
    <li *ngIf="authService.isAuthenticated()" class="navigation-list-item">
      <a class="navigation-list-link" routerLink="/my-profile">Профил</a>
    </li>
    <li class="navigation-list-item">
      <a *ngIf="role === 'true' && authService.isAuthenticated()" class="navigation-list-link" routerLink="/admin-panel">Админ</a>
    </li>
    <li *ngIf="authService.isAuthenticated()" class="navigation-list-item">
      <a class="navigation-list-link logout-link" (click)="logout()">Изход</a>
    </li>

  </ul>
</nav>
