.admin-panel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 3% auto;
  color: white;
}

.admin-panel-heading {
  font-family: 'Philosopher', sans-serif;
  margin-bottom: 20px;
}

.admin-fieldset-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.admin-fieldset {
  display: flex;
  margin: 20px;
  padding: 20px 20px 20px 30px;
  backdrop-filter: blur(15px);
  font-size: 18px;
}

.admin-fieldset.pictures {
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.admin-fieldset.common {
  width: 30%;
}

.admin-fieldset-legend {
  font-weight: bold;
  text-decoration: underline solid teal;
  text-underline-offset: 10px;
  color: lightgrey;
  text-transform: uppercase;
  font-size: 26px;
  padding: 0 10px;
  font-family: 'Philosopher', sans-serif;
}

.admin-fieldset-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.admin-fieldset-list.pictures {
  width: 30%;
}

.admin-fieldset-list-item {
  margin: 15px 0;
  font-family: 'Philosopher', sans-serif;
}

.admin-panel-link {
  text-decoration: none;
  color: white;
}

.admin-panel-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: teal;
  text-transform: uppercase;
  font-weight: bold;
}

.font-icon {
  margin-right: 10px;
  font-size: 22px;
}

@media only screen and (max-width: 1200px) {

  .admin-fieldset-container, .admin-fieldset.pictures {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .admin-fieldset.pictures {
    width: 30%;
  }

  .admin-fieldset-list.pictures {
    width: 100%;
  }
}
