.admin-panel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2% auto;
  color: white;
}

.admin-panel-heading {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  margin: 10px;
}

.admin-fieldset-container {
  display: flex;
  width: 100%;
}

.admin-fieldset {
  display: flex;
  margin: 20px;
  height: 350px;
  padding: 20px;
  backdrop-filter: blur(15px);
  font-size: 18px;
}

.general-fieldset {
  width: 30%;
  justify-content: center;
  align-items: center;
}

.album-fieldset {
  width: 60%;
  justify-content: space-evenly;
}

.admin-fieldset-legend {
  font-weight: bold;
  text-decoration: underline solid #006B3C;
  text-underline-offset: 10px;
  color: lightgrey;
  text-transform: uppercase;
  font-size: 26px;
  padding: 0 10px;
  font-family: 'Philosopher', sans-serif;
}

.admin-fieldset-list-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.admin-fieldset-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.admin-fieldset-list-item {
  margin: 15px 0;
  font-family: 'Philosopher', sans-serif;
}

.admin-panel-link {
  text-decoration: none;
  color: white;
}

.far.fa-images, .fas.fa-archive {
  margin-right: 10px;
}
