<div class="admin-panel-wrapper">

  <h1 class="admin-panel-heading">Админ панел</h1>

  <div class="admin-fieldset-container">
    <fieldset class="admin-fieldset general-fieldset">
      <legend class="admin-fieldset-legend">Общи</legend>
      <ul class="admin-fieldset-list">
        <li class="admin-fieldset-list-item"><a class="admin-panel-link" [routerLink]="['/slogan/all/admin']"><i class="fas fa-archive"></i>Лозунги</a></li>
        <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="fas fa-archive"></i>Статии</a></li>
        <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="fas fa-archive"></i>Преди и сега</a></li>
        <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="fas fa-archive"></i>Всички потребители</a></li>
      </ul>
    </fieldset>

    <fieldset class="admin-fieldset album-fieldset">
      <legend class="admin-fieldset-legend">Албуми</legend>
      <div class="admin-fieldset-list-container">
        <ul class="admin-fieldset-list">
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Море</a></li>
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Мин. бани</a></li>
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Ресторанти</a></li>
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Кино</a></li>
        </ul>
      </div>
      <div class="admin-fieldset-list-container">
        <ul class="admin-fieldset-list">
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Планина</a></li>
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Градове</a></li>
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Ханчета</a></li>
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Медии</a></li>
        </ul>
      </div>
      <div class="admin-fieldset-list-container">
        <ul class="admin-fieldset-list">
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Къмпинг</a></li>
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Хотели</a></li>
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Сладкарници</a></li>
          <li class="admin-fieldset-list-item"><a class="admin-panel-link"><i class="far fa-images"></i>Други забавления</a></li>
        </ul>
      </div>
    </fieldset>
  </div>
</div>
