.quiz-result-wrapper {
  margin: 1% auto;
  height: 80vh;
  background: white;
  width: 90%;
  display: flex;
  justify-content: center;
}


.quiz-result-image-container {
  background-image: url("https://res.cloudinary.com/dyhmxus4n/image/upload/v1626023443/Angular%20Project/b9_nxg8nf.jpg");
  width: 500px;
  height: 500px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-result {
  display: flex;
  flex-direction: column;
}




/*.main-wrapper {*/
/*  background: antiquewhite;*/
/*  max-width: 30%;*/
/*  margin: 5% auto;*/
/*  padding: 5px;*/
/*}*/
/*.middle-wrapper {*/
/*  border: 5px dotted crimson;*/
/*  max-width: 95%;*/
/*  margin: 0 auto;*/
/*  padding: 5px;*/
/*}*/

/*.result-wrapper {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  margin: 0 auto;*/
/*  max-width: 95%;*/
/*  align-items: center;*/
/*  border: 5px solid crimson;*/
/*  color: black;*/
/*  font-size: 22px;*/
/*}*/

/*.result {*/
/*  text-decoration: underline;*/
/*}*/

/*.result-wrapper {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  margin: 0 auto;*/
/*}*/

/*.nomination {*/
/*  margin-bottom: 30px;*/
/*}*/

/*.ribbon-one {*/
/*  color: blue;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  font-size: 70px;*/
/*  margin: 15px;*/
/*}*/

/*.ribbon-two {*/
/*  color: red;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  font-size: 70px;*/
/*  margin: 15px;*/
/*}*/

/*.ribbon-three {*/
/*  color: goldenrod;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  font-size: 70px;*/
/*  margin: 15px;*/
/*}*/

/*.title-one {*/
/*  padding: 10px;*/
/*}*/
