.home-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-title-container {
  margin-top: 2%;
}

.home-title {
  text-align: center;
  color: white;
  font-style: oblique;
  font-family: 'Philosopher', sans-serif;
}

.home-title {
  font-size: 40px;
}

.home-card-container {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 2% auto;
}

.home-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: 100% 100%;
  margin: 7px;
  width: 300px;
  height: 350px;
  text-decoration: none;
}

.home-card:hover {
  cursor: pointer;
}

.home-card-title-container {
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Philosopher', sans-serif;
}

.home-card:hover .home-card-title-container {
  background: transparent;
}

.home-card-title {
  color: white;
  padding: 10px 0;
}

.home-card:nth-child(1) {
  background-image: url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625425039/Angular%20Project/suitcase_tgawms.jpg);
}

.home-card:nth-child(1):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625425039/Angular%20Project/suitcase_tgawms.jpg);
}

.home-card:nth-child(2) {
  background-image: url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625427985/Angular%20Project/sand_clock_lbu3tv.jpg);
}

.home-card:nth-child(2):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625427985/Angular%20Project/sand_clock_lbu3tv.jpg);
}

.home-card:nth-child(3) {
  background-image: url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625425038/Angular%20Project/album_vziubw.jpg);
}

.home-card:nth-child(3):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625425038/Angular%20Project/album_vziubw.jpg);
}

.home-card:nth-child(4) {
  background-image: url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625425038/Angular%20Project/jar_rcz5sv.jpg);
}

.home-card:nth-child(4):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625425038/Angular%20Project/jar_rcz5sv.jpg);
}

.home-card:nth-child(5){
  background-image: url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625425039/Angular%20Project/pen_ifqhf9.jpg);
}

.home-card:nth-child(5):hover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625425039/Angular%20Project/pen_ifqhf9.jpg);
}

.home-card:nth-child(6) {
  background-image: url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625429327/Angular%20Project/bulb_wmrkjt.jpg);
}

.home-card:nth-child(6):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/dyhmxus4n/image/upload/v1625429327/Angular%20Project/bulb_wmrkjt.jpg);
}
