<p class="heading">Имало едно време...</p>
<div class="page-content">
  <div class="card">
    <div class="content">
      <h2 class="title">Пътешествие</h2>
      <p class="copy">Заедно се връщаме във времето, за да видим как е почвала и къде е пътувала средата класа преди 1989 г.</p>
      <button class="btn">Да тръгваме</button>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Блог статии</h2>
      <p class="copy">В нашия блог ви разказваме интересни и любопитни истории за някои от емблемите по време на социализма</p>
      <button class="btn">Прочети</button>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Спомени</h2>
      <p class="copy">Имаме специален сандък, който напълнихме със спомените, споделени от читателите на нашия сайт</p>
      <button class="btn">Прочети</button>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Лозунги</h2>
      <p class="copy">Събрахме най-интересните и забавни лозунги, които са създадени от социалистическия творчески ум</p>
      <button class="btn">Прочети</button>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2 class="title">Тест</h2>
      <p class="copy">Проверете вашите знания и обща култура на тема социализъм като попълните нашия тест</p>
      <button class="btn">Попълни</button>
    </div>
  </div>
</div>

