<div class="home-page-wrapper">
  <div class="home-title-container">
    <h1 class="home-title">Минало свършено</h1>
  </div>

  <div class="home-card-container">
    <div class="home-card" [routerLink]="['/']">
      <div class="home-card-title-container">
        <h3 class="home-card-title">Места</h3>
      </div>
    </div>

    <div class="home-card" [routerLink]="['/']">
      <div class="home-card-title-container">
        <h3 class="home-card-title">Преди и сега</h3>
      </div>
    </div>

    <div class="home-card" [routerLink]="['/']">
      <div class="home-card-title-container">
        <h3 class="home-card-title">Спомени</h3>
      </div>
    </div>

    <div class="home-card" [routerLink]="['/']">
      <div class="home-card-title-container">
        <h3 class="home-card-title">Лозунги</h3>
      </div>
    </div>

    <div class="home-card" [routerLink]="['/']">
      <div class="home-card-title-container">
        <h3 class="home-card-title">Блог</h3>
      </div>
    </div>

    <div class="home-card" [routerLink]="['/']">
      <div class="home-card-title-container">
        <h3 class="home-card-title">Тест</h3>
      </div>
    </div>
  </div>
</div>
