.all-memories-admin-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 3% auto;
}

.all-memories-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.all-memories-heading {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  font-size: 30px;
  color: white;
}

.new-entry-button {
  position: relative;
  top: -5px;
  width: 200px;
  padding: 10px 20px;
  border: 2px solid teal;
  margin-left: 20px;
  color: white;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Philosopher', sans-serif;
  text-align: center;
}

.new-entry-button:hover {
  cursor: pointer;
  background-color: teal;
}

.all-memories-table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  font-family: 'Philosopher', sans-serif;
}

.all-memories-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-heading {
  border: 1px solid teal;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: teal;
  color: white;
  font-family: 'Philosopher', sans-serif;
  text-transform: uppercase;
}

.table-heading:nth-child(1), .table-heading:nth-child(2), .table-heading:nth-child(3)  {
  border-right: 1px solid white;
}

.table-heading.memory-numbering{
  width: 5%;
}

.table-heading.memory-image {
  width: 25%;
}

.table-heading.memory-title {
  width: 45%;
}

.table-heading.memory-buttons {
  width: 25%;
}

.table-data {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

.memory-table-image {
  width: 200px;
  height: 100px;
}

.fas.fa-edit, .far.fa-trash-alt, .fas.fa-search-plus {
  font-size: 30px;
  color: darkslategrey;
  margin: 5px 10px;
}

.fas.fa-edit:hover{
  cursor: pointer;
  color: darkorange;
}

.far.fa-trash-alt:hover {
  cursor: pointer;
  color: red;
}

.fas.fa-search-plus:hover {
  cursor: pointer;
  color: rebeccapurple;
}
