<div class="places-wrapper">

  <section class="notebook">
    <h1 class="notebook-heading">Пътуване</h1>
    <p class="notebook-content">Пренасяме се във времето, когато българите са ходили на нашето море вместо в Гърция, а
      по
      морето е имало повече зеленина вместо бетон. Ще видим известните балнео курорти, които вместо СПА са се
      нариачли просто минерални бани. Ще се разходим из планините, ще посетим градове, а може да отидем и на
      къмпинг.</p>
  </section>

  <section class="categories">
    <a class="category-card" [routerLink]="['/all-sea-categories']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="sea"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/sunbed_aylxnb.png"/>
      </div>
      <p class="category-card-title">албум Море</p>
    </a>
    <a class="category-card" [routerLink]="['/mountain-album']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="mountain"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/mountain_qh5oed.png"/>
      </div>
      <p class="category-card-title">албум Планини</p>
    </a>
    <a class="category-card" [routerLink]="['/spa-album']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="spa"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/stones_n7g3bb.png"/>
      </div>
      <p class="category-card-title">албум Минерални бани</p>
    </a>
    <a class="category-card" [routerLink]="['/camping-album']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="camping"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/tent_pu4yxs.png"/>
      </div>
      <p class="category-card-title">албум Къмпинг</p>
    </a>
    <a class="category-card" [routerLink]="['/hotel-album']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="hotel"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/hotel_istxj2.png"/>
      </div>
      <p class="category-card-title">албум Хотели</p>
    </a>
    <a class="category-card" [routerLink]="['/city-album']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="city"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/cityscape_jyaena.png"/>
      </div>
      <p class="category-card-title">албум Градове</p>
    </a>
  </section>
</div>
