.places-wrapper {
  display: flex;
  width: 90%;
  margin: 1% auto;
  justify-content: space-between;
}

.notebook {
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.7em;
}

.notebook-heading {
  margin: 40px 0 20px 0;
  font-family: 'Pattaya', sans-serif;
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

.notebook-content {
  margin: 0 20px 0 100px;
  font-family: 'Philosopher', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-style: italic;
}

.categories {
  display: flex;
  justify-content: center;
  width: 65%;
  flex-wrap: wrap;
}

.category-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  height: 230px;
  padding: 10px;
  text-decoration: none;
}

.category-card-image {
  width: 195px;
  height: 190px;
}

.category-card-title {
  color: black;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
  font-size: 18px;
}
