.memories-header.all-memories {
  margin-bottom: 20px;
}

.memory-card-subtitle.all-memories {
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 5px;
}
