<div class="all-memories-wrapper">

  <div class="all-memories-header">
    <span class="all-memories-heading">Всички спомени</span><a class="add-memory-button" [routerLink]="['/memory/create']">Нов спомен</a>
  </div>

<div class="memory-cards-container">
  <a class="memory-card" *ngFor="let m of memory$ | async" [routerLink]="['/memory/details/', m._id]">
    <div class="memory-card-image-wrapper">
      <img class="memory-card-image" src="{{m.imageUrl}}" alt="memory"/>
    </div>
    <p class="memory-card-subtitle">Споделено от: <span>{{m.creator.name}}</span></p>
    <div class="memory-card-title-wrapper">
      <h3 class="memory-card-title">{{m.title}}</h3>
    </div>
  </a>

</div>

</div>
