<div class="all-memories-wrapper">

<h1 class="all-memories-heading">Спомени</h1>

<div class="memory-cards-container">
  <a class="memory-card" *ngFor="let m of memory$ | async" [routerLink]="['/memory/details/', m._id]">
    <div class="memory-card-image-wrapper">
      <img class="memory-card-image" src="{{m.imageUrl}}" alt="memory"/>
    </div>
    <div class="memory-card-title-wrapper">
      <p class="memory-card-subtitle">Споделено от: <span>{{m.creator.name}}</span></p>
      <h3 class="memory-card-title">{{m.title}}</h3>
    </div>
  </a>

</div>

</div>
