.admin-table-wrapper.all-posts-admin-wrapper {
  width: 60%;
}

.new-entry-button.post-entry-button {
  width: 25%;
}

.new-entry-button:hover {
  cursor: pointer;
  background-color: teal;
}

.table-heading.post-numbering{
  width: 5%;
}

.table-heading.post-title {
  width: 70%;
}

.table-heading.post-buttons {
  width: 25%;
}

.table-data.post-title {
  text-align: left;
  text-transform: uppercase;
  font-style: italic;
  padding-left: 20px;
}
