.all-posts-admin-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 3% auto;
}

.all-posts-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.all-posts-heading {
  display: flex;
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  font-size: 30px;
  color: white;
  flex-grow: 1;
  justify-content: center;
}

.new-entry-button {
  position: relative;
  top: -5px;
  width: 25%;
  padding: 10px 20px;
  border: 2px solid teal;
  margin-left: 20px;
  color: white;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  align-self: flex-end;
}

.new-entry-button:hover {
  cursor: pointer;
  background-color: teal;
}

.all-posts-table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  font-family: 'Philosopher', sans-serif;
}

.all-posts-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-heading {
  border: 1px solid teal;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: teal;
  color: white;
  font-family: 'Philosopher', sans-serif;
  text-transform: uppercase;
}

.table-heading:nth-child(1), .table-heading:nth-child(2), .table-heading:nth-child(3)  {
  border-right: 1px solid white;
}

.table-heading.post-numbering{
  width: 5%;
}

.table-heading.post-title {
  width: 70%;
}

.table-heading.post-buttons {
  width: 25%;
}

.table-data {
  border: 1px solid #ddd;
  padding: 6px;
}

.table-data.post-numbering, .table-data.post-buttons {
  text-align: center;
}

.table-data.post-title {
  text-transform: uppercase;
  padding-left: 20px;
  font-style: italic;
}

.fas.fa-edit, .far.fa-trash-alt, .fas.fa-search-plus {
  font-size: 30px;
  color: darkslategrey;
  margin: 5px 15px;
}

.fas.fa-edit:hover{
  cursor: pointer;
  color: darkorange;
  transform: scale(1.4);
}

.far.fa-trash-alt:hover {
  cursor: pointer;
  color: red;
  transform: scale(1.4);
}

.fas.fa-search-plus:hover {
  cursor: pointer;
  color: forestgreen;
  transform: scale(1.4);
}
