<div class="carousel-wrapper">
  <div class="carousel-header">
    <h1 class="carousel-heading">албум Сладкарници</h1>
  </div>

  <section class="carousel">

    <input type="radio" name="nav" value="1" id="slide1" checked>
    <label for="slide1"></label>
    <div class="slide">
      <img
        src="https://media.istockphoto.com/photos/picturesque-morning-in-plitvice-national-park-colorful-spring-scene-picture-id1093110112?k=6&m=1093110112&s=612x612&w=0&h=uBH7Rj-Ew_ixjunRrD_U7alq2ZUPJ_5XgMpe9xO52QQ="/>
      <div class="caption carouselCaption">
        <p>Aurora over the northern hemisphere, from the ISS (solar array visible to the right)</p>
      </div>
    </div>

    <input type="radio" name="nav" value="2" id="slide2">
    <label for="slide2"></label>
    <div class="slide">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn7fkGmlyAOeU5EjQb49NheuZlQCBXqW8MkhUaiQGcWpmjb4TtzTSLQPxRcnBc0RdICfM&usqp=CAU"/>
      <div class="caption carouselCaption">
        <p>The Moon in the haze of Earth’s atmosphere; photographed by astronaut Scott Kelly</p>
      </div>
    </div>

    <input type="radio" name="nav" value="3" id="slide3">
    <label for="slide3"></label>
    <div class="slide">
      <img
        src="https://media.istockphoto.com/photos/beautiful-nature-at-morning-in-misty-spring-forest-with-sun-picture-id506856658"/>
      <div class="caption carouselCaption">
        <p>Apollo 17 photo "The Blue Marble" is the first image to capture Antarctic ice sheet</p>
      </div>
    </div>

    <input type="radio" name="nav" value="4" id="slide4">
    <label for="slide4"></label>
    <div class="slide">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReZ-sbWf9Y4qLDH3zX74sFf_eN7H74CJN7BdjLp9zIGhxfhCmoxEUrOFekiqUdp_CdK_w&usqp=CAU"/>
      <div class="caption carouselCaption">
        <p>Soyuz spacecraft over the river Seine and most of France, captured from the ISS</p>
      </div>
    </div>

    <input type="radio" name="nav" value="5" id="slide5">
    <label for="slide5"></label>
    <div class="slide">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6wPX1hZZc4-sZ2e4pCwPUesW6db8reojwI5I21hSXk1JgjKjYByYImFR-5Ritv9qS4j8&usqp=CAU"/>
      <div class="caption carouselCaption">
        <p>Buzz Aldrin on the Moon with Neil Armstrong reflected in his visor, July 20, 1969</p>
      </div>
    </div>
  </section>
</div>
