.navigation {
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  text-align: center;
  margin-top: 15px;
}

.navigation-list {
  display: flex;
  justify-content: center;
  padding: 15px;
  list-style-type: none;
}

.navigation-list-item {
  font-family: 'Philosopher', sans-serif;
}

.navigation-list-item:hover {
  cursor: pointer;
}

.navigation-list-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px;
}

.navigation-list-link:hover {
  background: rgba(255, 255, 255, 0.1);
}

.logout-link:hover {
  cursor: pointer;
}
