
<h1 class="phrase-heading">Лозунги</h1>

<div class="phrase-wrapper">
  <div class="phrase-box">
    <p class="phrase-para">До 9 септември 1944 г. България беше на ръба на пропастта. След това направи смела крачка напред! - Из статия във в."Работническо дело"
    </p>
  </div>

  <div class="phrase-box">
    <p class="phrase-para">Пътуването с експресните влакове на БДЖ е пестене на време и удоволствие (плакат в БДЖ)
    </p>
  </div>
  <div class="phrase-box">
    <p class="phrase-para">Тази година завод за полупроводници, догодина за цели проводници (Тодор Живков)
    </p>
  </div>
  <div class="phrase-box">
    <p class="phrase-para">Мечката се мие, чисти във потоците сребристи - има ли за тебе пречка, да постъпваш като мечка! (плакат във фелдшерски кабинет)
    </p>
  </div>
  <div class="phrase-box">
    <p class="phrase-para">25 цирк - 25 години плодотворна размяна на циркови номера между България и СССР (лозунг от афишите на цирк)
    </p>
  </div>
</div>
