.slogans-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
}

.slogans-heading {
  color: white;
  text-align: center;
}

.slogans-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.slogan-outer-wrapper {
  border-radius: 7px;
  background-color: white;
  padding: 5px;
  width: 40%;
  margin: 20px;
}

.slogan-inner-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 5px;
  height: 100%;
}

.slogan-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slogan-main-text {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-family: 'Cuprum', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 40px
}

.slogan-sub-text {
  text-align: right;
  font-style: italic;
}

.slogan-outer-wrapper:nth-child(5n+4) {
  background-color: white;
  border: 5px solid red;
}

.slogan-outer-wrapper:nth-child(5n+4) > .slogan-inner-wrapper {
  background-color: red;
  color: white;
}

.slogan-outer-wrapper:nth-child(5n+2) {
  border: 5px solid #006B3C;
}

.slogan-outer-wrapper:nth-child(5n+2) > .slogan-inner-wrapper {
  background-color: #006B3C;
  color: white;
}

.slogan-outer-wrapper:nth-child(5n+3) {
  border: 5px solid #FFEF00;
}

.slogan-outer-wrapper:nth-child(5n+3) > .slogan-inner-wrapper {
  background-color: #FFEF00;
  color: black;
}

.slogan-outer-wrapper:nth-child(5n+1) {
  border: 5px solid #00308F;
}

.slogan-outer-wrapper:nth-child(5n+1) > .slogan-inner-wrapper {
  background-color: #00308F;
  color: white;
}

.slogan-outer-wrapper:nth-child(5n+5) {
  border: 5px solid #33004D;
}

.slogan-outer-wrapper:nth-child(5n+5) > .slogan-inner-wrapper {
  background-color: #33004D;
  color: white;
}

