<div class="slogans-wrapper">

  <h1 class="slogans-heading">Соц лозунги</h1>

  <div class="slogans-container">

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">До 9 септември 1944 г. България беше на ръба на пропастта. След това направи
            смела крачка напред!</h1>
          <p class="slogan-sub-text">из статия във в."Работническо дело</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Пътуването с експресните влакове на БДЖ е пестене на време и удоволствие</h1>
          <p class="slogan-sub-text">плакат в БДЖ</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Тази година завод за полупроводници, догодина за цели проводници</h1>
          <p class="slogan-sub-text">Тодор Живков</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Мечката се мие, чисти във потоците сребристи - има ли за тебе пречка, да
            постъпваш като мечка!</h1>
          <p class="slogan-sub-text">плакат във фелдшерски кабинет</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">25 цирк - 25 години плодотворна размяна на циркови номера между България и
            СССР</h1>
          <p class="slogan-sub-text">афиш на цирк</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Всички луди - на борба за мир!</h1>
          <p class="slogan-sub-text">агитационен надпис в лудница</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Народната милиция - биещото сърце на Партията!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Рейгън - враг номер едно на Тутраканска селищна система!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Да приберем навреме хляба на народа!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Един допуснат брак е беда за целия колектив</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Правим обувки с кожа на клиента</h1>
          <p class="slogan-sub-text">надпис в обущарска работилница</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Хигиенизацията е враг на бактериологическата диверсия</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">При управителя се влиза само по голяма нужда</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Във всеки дом - добитък!</h1>
          <p class="slogan-sub-text">плакат, издаден от "Наука и изкуство"</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Да живее българо-съветската дружба между народите!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Да живее международното положение!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Всяка ръка на крак!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">25 години народна власт - 25 години български цирк</h1>
          <p class="slogan-sub-text">надпис за годишнина на цирка</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">С всички сили - пет за четири!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Всеки кооператор - свиня! Всеки комунист - две!</h1>
          <p class="slogan-sub-text">лозунг в село в Плевенско, агитация по партийната повеля за усилено частно роизводство на свини</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Повече кожи за Партията!</h1>
          <p class="slogan-sub-text">призив в кожарска фабрика по случай 9 септември</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Да строим социализма с подръчни средства!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Всеки палет готова продукция - гвоздей в леглото на империалистите</h1>
          <p class="slogan-sub-text">лозунг в консервен завод</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Всяко яйце - бомба, всяка кокошка - летяща крепост срещу агресорите!</h1>
          <p class="slogan-sub-text">лозунг в птицеферма</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Всеки буркан компот - юмрук в лицето на империализма!</h1>
          <p class="slogan-sub-text">лозунг в консервния завод в Пазарджик</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Да влезем в комунизма с лъснати обувки!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Да не оставим нито един пациент да умре без лекарска помощ!</h1>
          <p class="slogan-sub-text">лозунг от социалистическа болница</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Да не оставим неодрусана слива в нашето село!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Една секунда невнимание и после цял живот убит!</h1>
          <p class="slogan-sub-text">надпис в чакалня на КАТ</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Да изучаваме културните потребности на народа и да задоволяваме първите на последния!</h1>
          <p class="slogan-sub-text"></p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Човекът е главна фигура в животновъдството</h1>
          <p class="slogan-sub-text">лозунг, провесен по стените в АПК</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">При капитализма човек експлоатира човека, а при социализма е точно обратното!</h1>
          <p class="slogan-sub-text">агитационна табела</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Всички десетокласници, които желаят да ходят на бригада, да се прегледат при лекарката</h1>
          <p class="slogan-sub-text">училищна табела</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Благодарим ти, партийо любима, за нашето щастливо детство</h1>
          <p class="slogan-sub-text">девиз от училищен коридор</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Съветските часовници - най-бързи в света</h1>
          <p class="slogan-sub-text">агитационна реклама</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Съветските болни - най-здравите болни в света</h1>
          <p class="slogan-sub-text">плакат в болница</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Здрав дух в здраво социалистическо тяло</h1>
          <p class="slogan-sub-text">лозунг от стадиона на Несебър</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Да влезем в светлото бъдеще с лъснати обувки</h1>
          <p class="slogan-sub-text">девиз от ваксаджиница</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Който не познава Сибир, той не познава СССР</h1>
          <p class="slogan-sub-text">плакат от стените на едновремешната туристическа агенция Интурист
          </p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Днес цял ден е санитарен полуден</h1>
          <p class="slogan-sub-text">надпис върху вратата на библиотека</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">На партията - вярност, на народа - чиста вода!</h1>
          <p class="slogan-sub-text">девиз на едновремешните ВиК</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Студенти, икономисвайте отпадъците - те са за вас</h1>
          <p class="slogan-sub-text">надпис от студентски стол</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">В чест на 9-ти септември да озъбим целия български народ</h1>
          <p class="slogan-sub-text">надпис в стоматологичен кабинет</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">ЖП-бюфети предлагат питателна храна, която осигурява здраве и сила за построяването на социализма</h1>
          <p class="slogan-sub-text">надпис в жп-бюфет</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Точността на попадението е толкова голяма, колкото по-голяма е вероятността за попадение в целта</h1>
          <p class="slogan-sub-text">надпис от казарма</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Не насочвайте оръжието към хора - дори ако е заредено</h1>
          <p class="slogan-sub-text">надпис в казарма</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Дори и най-малкият пожар е срам за добрия колектив</h1>
          <p class="slogan-sub-text">противопожарен агитационен плакат</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Дръж маркуча си в изправност</h1>
          <p class="slogan-sub-text">плакат в пожарната</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Какво направи за съкращаване на сроковете?</h1>
          <p class="slogan-sub-text">поканващ призив от стените на заводите</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Бира се отпуска само на членове на профсъюза!</h1>
          <p class="slogan-sub-text">надпис над работническа лавка</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">Преди пиене не употребявай алкохол!</h1>
          <p class="slogan-sub-text">предупреждение в квартална пивница</p>
        </div>
      </div>
    </div>

    <div class="slogan-outer-wrapper">
      <div class="slogan-inner-wrapper">
        <div class="slogan-content">
          <h1 class="slogan-main-text">От тебе, партийо, се учим</h1>
          <p class="slogan-sub-text">плакат в затвор</p>
        </div>
      </div>
    </div>

  </div>

</div>
