.gallery-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 1% auto;
}

.galley-items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gallery-item-wrapper {
  display: flex;
  width: 80%;
  margin-bottom: 100px;
  border: 1px solid #ffb2c7;
}

.gallery-picture {
  width: 600px;
  height: 400px;
  z-index: 2;
}

.gallery-postcard {
  min-width: 600px;
  height: 400px;
  background-color: white;
  position: relative;
  bottom:-80px;
  left: -250px;
  transform: rotate(3deg);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.postcard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
  border-left: 1px solid lightblue;
  width: 50%;
  padding: 30px;
  align-items: center;
}

.postcard-text-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 40%;
  background-color: #fff;
  background-size: 100% 1.2em;
  background-image: linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(lightblue .05em, transparent .05em);
}

.postcard-stamp-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.postcard-stamp-wrapper {
  width: 80px;
  height: 80px;
  border: 1px solid lightblue;
}
.postcard-stamp {
  width: 100%;
  height: 100%;
}

.postcard-album-title {
  font-family: 'Bad Script', cursive;
}

.postcard-text {
  font-family: 'Bad Script', cursive;
}

/*.gallery-picture.picture-wide:nth-child(odd) {*/
/*  transform: rotate(2deg);*/
/*}*/

/*.gallery-picture.picture-wide:nth-child(even) {*/
/*  transform: rotate(-2deg);*/
/*}*/

/*.gallery-upper-note, .gallery-bottom-note {*/
/*  border-left: 1px solid white;*/
/*  border-right: 1px solid white;*/
/*  width: 70%;*/
/*  min-height: 50px;*/
/*}*/

/*.gallery-upper-note {*/
/*  border-top: 1px solid white;*/
/*}*/

/*.gallery-bottom-note {*/
/*  border-bottom: 1px solid white;*/
/*}*/

/*.gallery-picture {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*.gallery-item-text {*/
/*  font-family: 'Philosopher', sans-serif;*/
/*  text-align: center;*/
/*  color: white;*/
/*  font-size: 25px;*/
/*  padding: 0 7px;*/
/*  font-style: italic;*/
/*}*/
