<div class="memory-wrapper">

  <div class="memory">
    <div class="memory-image-container">
      <img class="memory-image" src="{{memory.imageUrl}}"
           alt="memory">
    </div>
    <div class="memory-content-wrapper">
      <div class="memory-content">
                <p class="memory-sub-heading">Спомен за...</p>
                <h3 class="memory-heading">{{memory.title}}</h3>
                <p class="memory-text">{{memory.description}}</p>
        <div class="memory-legend">
          <span class="memory-legend">Споделено от: </span>
          <span class="memory-legend">{{memory.creator}}</span>
        </div>
      </div>

    </div>
  </div>
</div>
