.memory-wrapper {
  display: flex;
  width: 90%;
  margin: 1% auto;
  background-color: white;
  padding: 20px;
}

.memory {
  display: flex;
  justify-content: space-around;
}

.memory-image-container {
  width: 65%;
  margin: 10px;
  max-height: 80vh;
}
.memory-image {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 0px 7px -1px #000000;
  box-shadow: 0px 0px 7px -1px #000000;
}
.memory-content-wrapper {
  position: relative;
  width: 35%;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border: 2px dashed #006B3C;
}

.memory-content {
  display: flex;
  flex-direction: column;
  background-color: white;

  padding: 20px 40px;
  width: 100%;
  height: 100%;
}

.memory-heading {
  font-family: 'Bad Script', cursive;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.memory-text {
  display: flex;
  flex-grow: 1;
  text-align: justify;
  font-family: 'Philosopher', sans-serif;
}

.memory-legend {
  font-size: 14px;
  font-style: italic;
  text-align: right;
  font-family: 'Philosopher', sans-serif;
}

.memory-sub-heading {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
}
