<div class="memory-wrapper">

  <div class="memory">
    <img class="memory-image" src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Black_sea%2C_Kavatsite-2.JPG"
         alt="memory">

    <div class="memory-content-wrapper">
      <div class="memory-content">
        <p class="memory-sub-heading">Спомен за...</p>
        <h3 class="memory-heading">Море в Мичурин</h3>
        <p class="memory-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lorem turpis, mattis quis tempor a,
          vulputate vitae neque. Duis quis auctor mauris. Sed viverra elit id eros vehicula, quis sagittis augue
          rhoncus. Cras a tortor vel enim luctus pellentesque. Vivamus dictum quis risus sit amet accumsan. Etiam non mi
          porttitor, posuere sapien pharetra, convallis arcu. Maecenas vestibulum, urna non maximus lobortis, tortor
          nulla vulputate nisi, a condimentum justo eros et lectus. Nulla faucibus, nunc a iaculis lobortis, mauris dui
          ultricies tortor, non placerat velit augue faucibus ipsum. Curabitur in cursus sapien.
        </p>
        <p class="memory-legend">Споделено от: Лора</p>
      </div>

    </div>
  </div>
</div>
