<h1 class="admin-heading">АДМИНИСТРАЦИЯ</h1>

<div class="admin-wrapper">
  <div class="first-section">
    <fieldset class="general-fieldset">
      <legend>Общи</legend>
      <ul class="album-list">
        <li class="li-button"><p>НОВ ЛОЗУНГ</p></li>
        <li class="li-button"><p>НОВА СТАТИЯ</p></li>
        <li class="li-button"><p>ВСИЧКИ ПОТРЕБИТЕЛИ</p></li>
      </ul>
    </fieldset>
  </div>
  <div class="second-section">
    <fieldset class="album-fieldset">
      <legend>Добавяне на снимки</legend>
      <div class="right-list">
        <ul class="album-list">
          <li><i class="far fa-images"></i>Море</li>
          <li><i class="far fa-images"></i>Планина</li>
          <li><i class="far fa-images"></i>Минерални бани</li>
          <li><i class="far fa-images"></i>Къмпинг</li>
          <li><i class="far fa-images"></i>Хотели</li>
          <li><i class="far fa-images"></i>Градове</li>
        </ul>
      </div>
      <div class="right-list">
        <ul class="album-list">
          <li><i class="far fa-images"></i>Сладкарници</li>
          <li><i class="far fa-images"></i>Ханчета</li>
          <li><i class="far fa-images"></i>Ресторанти</li>
          <li><i class="far fa-images"></i>Кино</li>
          <li><i class="far fa-images"></i>Други забавления</li>
          <li><i class="far fa-images"></i>Медии</li>
        </ul>
      </div>
    </fieldset>
  </div>
</div>
