<h1 class="create-heading">Сподели спомен</h1>

<form class="create-form" method="post" action="">
  <div class="form-element">
    <input class="input-field" type="text" name="first_name" placeholder="URL" required>
  </div>
  <div class="form-element">
    <textarea class="textarea-field" rows="10" name="comments" placeholder="ТЕКСТ" required maxlength="200"></textarea>
  </div>
  <div class="form-element">
    <button name="send" type="submit" class="button-field">ГОТОВО</button>
  </div>
</form>
