<div class="wrapper">
  <div id="notebook">
    <div id="notebook-paper">
      <header>
        <h1>Фоторазкази</h1>
      </header>
      <div id="content">
        <div class="hipsum"><p>В няколко тематични албума ви разкзваме за забавленията и пътуванията на средната класа по време на социализма.
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="containerCards">
    <div class="card">
      <a href="#">
        <div class="card-type-2">
          <div class="img-c">
            <img class="imgAlbum" src="https://i.pinimg.com/originals/40/64/8a/40648a48c1ffc34f76bfee1153df6c23.jpg"
                 width="800" height="800"/></div>
          <div class="clear-line"></div>
          <div>
            <p class="caption">албум Пътуване</p>
          </div>
        </div>
      </a>
    </div>

    <div class="card">
      <a href="#">
        <div class="card-type-2">
          <div class="img-c">
            <img class="imgAlbum"
                 src="https://cdn5.vectorstock.com/i/thumb-large/58/14/ticket-icon-on-white-background-ticket-sign-flat-vector-20705814.jpg"
                 width="400" height="400"/></div>
          <div class="clear-line"></div>
          <div>
            <p class="caption">албум Развлечения</p>
          </div>
        </div>
      </a>
    </div>

    <div class="card">
      <a href="#">
        <div class="card-type-2">
          <div class="img-c">
            <img class="imgAlbum"
                 src="https://cdn5.vectorstock.com/i/thumb-large/60/44/plate-spoon-fork-cutlery-icon-vector-20716044.jpg"
                 width="800" height="800"/></div>
          <div class="clear-line"></div>
          <div>
            <p class="caption">албум Заведения</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


