<div class="places-wrapper">

  <section class="notebook">
    <h1 class="notebook-heading">Заведения</h1>
    <p class="notebook-content">Пренасяме се назад във времето, за да направим тур по най-известните сладкарници,
      ханчета
      и ресторанти в страната.</p>
  </section>

  <section class="categories">

    <a class="category-card" [routerLink]="['/albums/cafe']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="venues"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/piece-of-cake_ja7qfs.png"/>
      </div>
      <p class="category-card-title">албум Сладкарници</p>
    </a>

    <a class="category-card" [routerLink]="['/albums/pubs']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="venues"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/barrel_m8ypgd.png"/>
      </div>
      <p class="category-card-title">албум Ханчета</p>
    </a>

    <a class="category-card" [routerLink]="['/albums/restaurants']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="venues"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/tray_u9fb7q.png"/>
      </div>
      <p class="category-card-title">албум Ресторанти</p>
    </a>

  </section>
</div>
