<div class="blog-posts-wrapper">
  <h1 class="blog-heading">Блог статии</h1>

  <section class="blog-posts-container">
    <a class="blog-card" [routerLink]="['/post']">
      <img class="blog-card-image" alt="blog"
           src="https://m.netinfo.bg/media/images/29388/29388344/640-420-zashto-ds-iska-da-bydat-zakriti-magazinite-korekom.jpg">
      <div class="blog-card-content">
        <h1 class="blog-card-heading">Кореком</h1>
        <p class="blog-card-short-text">Точно преди 50 години в „Златни пясъци” врати отваря първият „Кореком”. Това
          става ...</p>
        <div class="blog-card-continue-reading">Продължете да четете &#8594;</div>
        <div class="blog-card-date-wrapper">
          <p class="blog-card-author">Автор: <span>Admin</span></p>
          <span class="blog-card-date">Дата: <span>21-06-2021</span></span>
        </div>
      </div>
    </a>

    <a class="blog-card" [routerLink]="['/post']">
      <img class="blog-card-image" alt="blog"
           src="http://2.bp.blogspot.com/-tsB4MtyciI4/VPb-0C_qiTI/AAAAAAAAGBU/GcoD02MJuNQ/s1600/689055.jpg">
      <div class="blog-card-content">
        <h1 class="blog-card-heading">ЦУМ</h1>
        <p class="blog-card-short-text">Точно преди 50 години в „Златни пясъци” врати отваря първият „Кореком”. Това
          става ...</p>
        <div class="blog-card-continue-reading">Продължете да четете &#8594;</div>
        <div class="blog-card-date-wrapper">
          <p class="blog-card-author">Автор: <span>Admin</span></p>
          <span class="blog-card-date">Дата: <span>21-06-2021</span></span>
        </div>
      </div>
    </a>

    <a class="blog-card" [routerLink]="['/post']">
      <img class="blog-card-image" alt="blog"
           src="https://bgswim.com/pictures/pic_big/crop/n-6240.jpg">
      <div class="blog-card-content">
        <h1 class="blog-card-heading">Комета</h1>
        <p class="blog-card-short-text">Точно преди 50 години в „Златни пясъци” врати отваря първият „Кореком”. Това
          става ...</p>
        <div class="blog-card-continue-reading">Продължете да четете &#8594;</div>
        <div class="blog-card-date-wrapper">
          <p class="blog-card-author">Автор: <span>Admin</span></p>
          <span class="blog-card-date">Дата: <span>21-06-2021</span></span>
        </div>
      </div>
    </a>

  </section>
</div>
