.post-wrapper {
  display: flex;
  width: 80%;
  margin: 2% auto;
  justify-content: center;
  background-color: #FCDFFF;
}

.picture-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.content-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding: 20px;
  font-family: 'Nunito', sans-serif;
}

.post-date-author-wrapper {
  display: flex;
  color: gray;
  margin-top: 30px;
}

.post-date, .post-author {
  text-transform: uppercase;
}

.post-delimiter {
  margin: 0 5px;
}

.post-heading {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

.post-heading-delimiter {
  width: 100px;
  border: 2px solid darkslategray;
}

.post-sub-heading {
  margin: 20px 30px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.post-image-wrapper:nth-child(2) {
  margin: 10px 0;
}

.post-image {
  width: 550px;
  height: 350px;
}

.post-text {
  padding: 0 30px;
  font-size: 16px;
}
