<div class="post-wrapper">
  <section class="post-upper-section">
    <img class="post-image-main" alt="post"
         src="http://2.bp.blogspot.com/-Zd-gHp6S02Y/VjTxgzfeXdI/AAAAAAAAKsw/cXooT2dnGpE/s1600/tn_20151030_145252-1024x629.jpg">
  </section>

  <section class="post-middle-section">

    <div class="post-title-container">
      <h1 class="post-title">Кореком</h1>
    </div>

    <div class="post-sub-title-container">
    <p class="post-sub-title">
      Точно преди 50 години в „Златни пясъци” врати отваря първият „Кореком”. Това става в
      началото на лятото през 1965 г., а до края на туристическия сезон в курорта са открити още няколко магазина,
      където се плаща с валута.
    </p>
    </div>
  </section>
  <section class="post-content-section">

    <p class="post-text">Точно преди 50 години в „Златни пясъци” врати отваря първият „Кореком”. Това става в
      началото на лятото през 1965 г., а до края на туристическия сезон в курорта са открити още няколко магазина,
      където се плаща с валута. Идеята за тях идва от западногермански туроператори, които изтъкват оплакванията на
      своите туристи, че в България не могат да си купят плажни принадлежности, козметика и цигари. „Балкантурист” и
      Министерството на туризма изготвят предложение, което е одобрено от Министерски съвет. Точно преди 50 години в
      „Златни пясъци” врати отваря първият „Кореком”. Това става в началото на лятото през 1965 г., а до края на
      туристическия сезон в курорта са открити още няколко магазина, където се плаща с валута. Идеята за тях идва от
      западногермански туроператори, които изтъкват оплакванията на своите туристи, че в България не могат да си
      купят плажни принадлежности, козметика и цигари. „Балкантурист” и Министерството на туризма изготвят
      предложение, което е одобрено от Министерски съвет. Точно преди 50 години в „Златни пясъци” врати отваря
      първият „Кореком”. Това става в началото на лятото през 1965 г., а до края на туристическия сезон в курорта
      са открити още няколко магазина, където се плаща с валута. Идеята за тях идва от западногермански
      туроператори, които изтъкват оплакванията на своите туристи, че в България не могат да си купят плажни
      принадлежности, козметика и цигари. „Балкантурист” и Министерството на туризма изготвят предложение, което е
      одобрено от Министерски съвет. Точно преди 50 години в „Златни пясъци” врати отваря първият „Кореком”. Това
      става в началото на лятото през 1965 г., а до края на туристическия сезон в курорта са открити още няколко
      магазина, където се плаща с валута. Идеята за тях идва от западногермански туроператори, които изтъкват
      оплакванията на своите туристи, че в България не могат да си купят плажни принадлежности, козметика и цигари.
      „Балкантурист” и Министерството на туризма изготвят предложение, което е одобрено от МС.</p>
  </section>

  <section class="post-lower-section">

    <div class="post-image-wrapper">
      <img class="post-image" alt="post"
           src="https://m.netinfo.bg/media/images/29388/29388344/640-420-zashto-ds-iska-da-bydat-zakriti-magazinite-korekom.jpg">
    </div>

    <div class="post-image-wrapper">
      <img class="post-image" alt="post" src="https://darikradio.bg/media/174/path_205031.m.jpg">
    </div>

  </section>

</div>
