/* home and index background*/
.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1598801186/Angular%20Project/17074790_101_trqoyh.jpg');
}

/*main background- obscure*/
.background:after {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
