@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

/*main fonts + nav*/
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
/*notebook heading, quiz questions heading*/
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
/*slogans*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
/*memory cards heading*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  background-image: url('https://res.cloudinary.com/dyhmxus4n/image/upload/v1598801186/Angular%20Project/17074790_101_trqoyh.jpg');
}

.background:after {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
