.question-title {
  font-family: 'Pattaya', sans-serif;
  font-size: 30px;
  margin: 10px 0 20px 0;
  color: #006B3C;
}

.question-content {
  display: flex;
  flex-direction: column;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.radio-button {
  margin: 5px 5px 10px 5px;
}

.radio-button:hover {
  cursor: pointer;
}

.quiz-options:hover {
  cursor: pointer;
  color: #006B3C;
}

