.question-wrapper {
  display: flex;
  flex-direction: column;
}

.question-title {
  font-family: 'Pattaya', sans-serif;
  font-size: 30px;
  margin: 10px 0 20px 0;
}

.question-content {
  display: flex;
  flex-direction: column;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.question-options {
  margin-left: 20px;
}

.radio-button {
  margin: 5px 0;
}
