<div class="places-wrapper">

  <section class="notebook">
    <h1 class="notebook-heading">Развлечения</h1>
    <p class="notebook-content">Ще хвърлим поглед какви са били забавленията по времето на социализма извън дома, а ако
      останем вкъщи ще разлистим някое печатно издание или ще погледаме телевизия.</p>
  </section>

  <section class="categories">

    <a class="category-card" [routerLink]="['/album-cinema']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="cinema"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/popcorn_y7rzme.png"/>
      </div>
      <p class="category-card-title">албум Кино</p>
    </a>

    <a class="category-card" [routerLink]="['/album-media']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="media"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677790/Angular%20Project/tv_rvqkyw.png"/>
      </div>
      <p class="category-card-title">албум Медии</p>
    </a>

    <a class="category-card" [routerLink]="['/album-other-entertainment']">
      <div class="category-card-image-container">
        <img class="category-card-image" alt="entertainment"
             src="https://res.cloudinary.com/dyhmxus4n/image/upload/v1626677789/Angular%20Project/ferris-wheels_j90gek.png"/>
      </div>
      <p class="category-card-title">албум Други забавления</p>
    </a>

  </section>
</div>
