<div class="wrapper">
  <div id="notebook">
    <div id="notebook-paper">
      <header>
        <h1>Развлечения</h1>
      </header>
      <div id="content">
        <p>
          Ще хвърлим поглед какви са били забавленията извън дома по времето на социализма извън дома, а ако останем
          вкъщи ще разлистим някое печатно издание или ще погледаме телевизия.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="album-wrapper">
  <div class="containerCards">

    <div class="card">
      <a href="#">
        <div class="card-type-2">
          <div class="img-c">
            <img class="imgAlbum"
                 src="https://www.netclipart.com/pp/m/104-1046525_how-to-draw-popcorn-draw-popcorn.png"
                 width="800" height="800"/></div>
          <div class="clear-line"></div>
          <div>
            <p class="caption">албум Кино</p>
          </div>
        </div>
      </a>
    </div>

    <div class="card">
      <a href="#">
        <div class="card-type-2">
          <div class="img-c">
            <img class="imgAlbum"
                 src="https://thumbs.dreamstime.com/b/london-eye-icon-london-eye-icon-element-united-kingdom-culture-icons-premium-quality-graphic-design-icon-signs-outline-109675155.jpg"
                 width="400" height="400"/></div>
          <div class="clear-line"></div>
          <div>
            <p class="caption">албум Други забавления</p>
          </div>
        </div>
      </a>
    </div>

    <div class="card">
      <a href="#">
        <div class="card-type-2">
          <div class="img-c">
            <img class="imgAlbum"
                 src="https://cdn4.vectorstock.com/i/1000x1000/53/98/flat-icon-in-black-and-white-style-tv-vector-9655398.jpg"
                 width="400" height="400"/></div>
          <div class="clear-line"></div>
          <div>
            <p class="caption">албум Медии</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

