<div class="all-slogans-admin-wrapper">
  <div class="all-slogans-header">
    <span class="all-slogans-heading">Всички лозунги</span><a class="add-slogan-button" [routerLink]="['/slogan/create']">Нов лозунг</a>
  </div>

  <table class="all-slogans-table">
    <tr class="table-header">
      <th class="table-heading slogan-numbering">#</th>
      <th class="table-heading slogan-title">Лозунг</th>
      <th class="table-heading slogan-note">Бележка</th>
      <th class="table-heading slogan-buttons">Действия</th>
    </tr>
    <tr *ngFor="let s of slogan$ | async; let i = index">
      <td class="table-data slogan-numbering">{{i + 1}}</td>
      <td class="table-data slogan-title">{{s.content}}</td>
      <td class="table-data slogan-note">{{s.note}}</td>
      <td class="table-data slogan-buttons">
        <a class="edit-button" [routerLink]="['/slogan/edit/', s?._id]"><i class="fas fa-edit" title="Редактирай"></i></a>
        <a class="delete-button" (click)="deleteSlogan(s._id)"><i class="far fa-trash-alt" title="Изтрий"></i></a>
      </td>
    </tr>

  </table>
</div>
