.admin-table-wrapper.all-slogans-admin-wrapper {
  width: 80%;
}

.new-entry-button.slogan-entry-button {
  width: 15%;
}

.table-heading.slogan-numbering{
  width: 3%;
}

.table-heading.slogan-title {
  width: 50%;
}

.table-heading.slogan-note {
  width: 32%;
}

.table-heading.slogan-button {
  width: 15%;
}

.table-data.slogan-title, .table-data.slogan-note {
  text-align: left;
}

.table-data.slogan-note {
  font-style: italic;
}
